$main-color: #8C7548;
$main-bgcolor: #F6F4F0;
$link-color: #000;
$link-hover-color: #8C7548;
$navbar-bgcolor: #ffffff;
$border-color: #DEDEDE;
$user-box-color: #E15D34;

$nav-text-color: #636366;
$nav-bg-color: rgba(140, 117, 72, 0.08);